
/* List Style */
.bd_lst{clear:both;margin:0;padding:0;list-style:none;*zoom:1}
.bd_tb_lst td{border-bottom:1px solid #EEE}
.bd_tb_lst tbody tr:hover{background:#F9F9F9;border-color:#DDD}
.bd_lst img{vertical-align:middle}


/* Normal */
.bd_tb_lst{margin-top:25px}
.bd_tb_lst th,.bd_tb_lst td{padding:8px 12px;font-size:11px;text-align:center;white-space:nowrap}
.bd_tb_lst th{padding:9px 12px;border-top:1px solid #CCC;border-bottom:1px solid #BBB;-webkit-box-shadow:inset 0 -1px 0 #FFF;box-shadow:inset 0 -1px 0 #FFF;color:#666;text-shadow:0 0 1px rgba(0,0,0,.1)}
.bd_tb_lst td{color:#555}
.bd_tb_lst .cate{padding:8px;color:#666}
.bd_tb_lst .title{padding-right:6px;width:100%}
.bd_tb_lst td.title{text-align:left;font-size:12px;white-space:normal;word-break:break-all}
.bd_lst td.title a{color:#222}
.bd_tb_lst .cate span{display:block;overflow:hidden;max-width:90px;text-overflow:ellipsis;word-wrap:normal\9}
.bd_tb_lst tbody tr:hover {
background: #f5f5f5;
border-color: #DDD;
}
.bd .bg_f_f9 {
background: #F9F9F9 url(../img/ie/bg_f_f9.gif) repeat-x;
background: -webkit-gradient(linear,0% 0%,0% 100%,from(#FFF),to(#F9F9F9));
background: linear-gradient(to bottom,#FFF 0%,#F9F9F9 100%);
}

.bd_tb_lst .text-danger{color:#a94442}
.bd_tb_lst .text-danger:hover{color:#843534}
.bd_tb_lst .text-success{color:#3c763d}
.bd_tb_lst .text-success:hover{color:#2b542c}
.xl .bd_lst tbody>tr:nth-child(odd)>td,
.xl .bd_lst tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}

/* Pagnation */
.bd_pg{padding:24px 0;text-align:left}
.bd_pg a,.bd_pg strong{display:inline-block;min-width:12px;height:24px;padding:0 6px;border:1px solid transparent;border-radius:2px;font:bold 12px/2em Tahoma;letter-spacing:-1px;*display:inline;*zoom:1}
.bd_pg a{color:#999;text-decoration:none !important}
.bd_pg a:hover,.bd_pg a:focus{background:#F9F9F9;border-color:#AAA;color:#555}
.bd_pg .frst_last{color:#555}
.bd_pg .direction{margin:0 4px;color:#555;letter-spacing:0;font-weight:normal}
.bd_pg strong.direction{color:#999}
